{% extends 'base.html' %}

{% block titulo %}Lista de Administradores{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Administradores</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Ana</td><td>Martínez</td></tr>
            <tr><td>Luis</td><td>Ramírez</td></tr>
            <tr><td>Sofía</td><td>Hernández</td></tr>
        </tbody>
    </table>
</div>
{% endblock %}
