<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>administradores</title>
</head>
<body>
    
    <h1>Lista de Administradores</h1>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
        <tr>
            <td>David</td>
            <td>Perez</td>
        </tr>
        <tr>
            <td>Andrea</td>
            <td>Gomez</td>
        </tr>
        <tr>
            <td>Juan</td>
            <td>Hernandez</td>
        </tr>
    </table>
   <a href="{% url 'home:home'%}">home</a> 
</body>
</html>