{% extends 'base.html' %}

{%block titulo %}
 <h1>Lista de Estudiantes</h1>
{% endblock %}

{% block contenido %}
    
    
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
        <tr>
            <td>Juan</td>
            <td>Perez</td>
        </tr>
        <tr>
            <td>Maria</td>
            <td>Gomez</td>
        </tr>
        <tr>
            <td>Carlos</td>
            <td>Lopez</td>
        </tr>
    </table>
    <a href="{% url 'home:home'%}">home</a>
{% endblock %}